%h1
  Welcome to the ReFresh Ministries Help Site
  
%p
  This site exists to help you configure your email account for ReFresh Ministries. Please complete the following steps in order.

%ol
  %li
    %a(href="/password") Change Your Password
    
  %li
    %a(href="/iphone") Configure Your iPhone
    
  %li
    %a(href="/mail") Configure Apple Mail
