%div(class="large-12 medium-12 columns")
  %h1(class="text-center")
    Welcome to the ReFresh Ministries Help Site
    
  %p(class="text-center")
    This site exists to help you configure your email account for ReFresh Ministries. Please change your password first.


%div(class="large-12 medium-12 columns" style="padding-top: 25px; padding-bottom: 25px;")
  %div(class="large-4 medium-4 columns")
    %a(href="/password")
      %img(src="https://drqkr2smv75b.cloudfront.net/help/images/home/changepass.png" class="left")
      Change Your Password
  
  %div(class="large-4 medium-4 columns")
    %a(href="/iphone") 
      %img(src="https://drqkr2smv75b.cloudfront.net/help/images/home/iphone.png" class="left")
      Configure Your iPhone
    
  %div(class="large-4 medium-4 columns")
    %a(href="/mail") 
      %img(src="https://drqkr2smv75b.cloudfront.net/help/images/home/macmail.png" class="left")
      Configure Apple Mail