%h1(class="text-center") Configuring Your iPhone

%p(class="text-justify")
  1. Touch the “Settings” application on your iPhone
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step1.PNG" class="helpimg")
  
%p(class="text-justify")
  2. Scroll down until the button labeled “Mail, Contacts, Calendars” appears and touch it.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step2.PNG" class="helpimg")

%p(class="text-justify")
  3. Touch the “Add Email Account” button.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step3.PNG" class="helpimg")

%p(class="text-justify")
  4. Touch the “Other” button.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step4.PNG" class="helpimg")
  
%p(class="text-justify")
  5. Touch the “Add Mail Account” button.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step5.PNG" class="helpimg")
  
%p(class="text-justify")
  6. Fill in the information corresponding to your account information. When you send emails from this account, the value place in the “Name” box will be seen by the recipient of the email. For example, in the corresponding screenshot, John Appleseed would be what the recipient of the email would see.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step6.PNG" class="helpimg")
  
%p(class="text-justify")
  7. Input your email account, the server name (mail.refresh-ministries.org), and your password. These values are the same for both incoming and outgoing servers. Then touch “Next” in the upper right corner of the screen. 
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step7.PNG" class="helpimg")
  
%p(class="text-justify")
  8. Touch “Continue” on this screen. This screen appears because we are using “mail.refresh-ministries.org” rather than “6h2r-hftz.accessdomain.com”. Media Temple uses access domains for resource addressing. This produces ugly server names, as seen above. For simplicity we have an alias to the ugly name. The certificate used for encrypting the connection has “6h2r-hftz.accessdomain.com” listed on it and we are accessing it via “mail.refresh-ministries.org”, this is what produces the warning screen pictured in Figure 11 above.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step8.PNG" class="helpimg")
  
%p(class="text-justify")
  9. The email account has been successfully added. Touch “Save” and continue.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step9.PNG" class="helpimg")
  
%p(class="text-justify")
  10. Touch the button labeled “ReFresh Ministries” for you newly added account. We are going to change a few features associated with this account.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step10.PNG" class="helpimg")
  
%p(class="text-justify")
  11. Next touch the “Account” button to show the account details.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step11.PNG" class="helpimg")
  
%p(class="text-justify")
  12. Touch the button labeled “Advanced” to reveal the advanced properties of this email account.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step12.PNG" class="helpimg")
  
%p(class="text-justify")
  13. Touch the button labeled “Drafts Mailbox”
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step13.PNG" class="helpimg")
  
%p(class="text-justify")
  14. Touch the "Drafts" (The text will turn blue) folder under On The Server &gt; Drafts to have your drafts stored on the server rather than on your device. Next touch the "Advanced" button to return to the previous screen.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step14.PNG" class="helpimg")
  
%p(class="text-justify")
  15. Touch the button labeled “Sent Mailbox”
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step15.PNG" class="helpimg")
  
%p(class="text-justify")
  16. Touch the "Sent" (The text will turn blue) folder under On The Server &gt; Sent to have your sent items stored on the server rather than on your device. Next touch the "Advanced" button to return to the previous screen.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step16.PNG" class="helpimg")
  
%p(class="text-justify")
  17. Touch the button labeled “Deleted Mailbox”
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step17.PNG" class="helpimg")
  
%p(class="text-justify")
  18. Touch the "Trash" (The text will turn blue) folder under On The Server &gt; Trash to have your deleted items stored on the server rather than on your device. Next touch the "Advanced" button to return to the previous screen.
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step18.PNG" class="helpimg")
  
%p(class="text-justify")
  19. Touch the "Account" button to return to the previous screen
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step19.PNG" class="helpimg")
  
%p(class="text-justify")
  20. Touch the "Mail..." button to return to the previous screen
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step20.PNG" class="helpimg")
  
%p(class="text-justify")
  21. Touch the "Settings" button to return to the previous screen
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step21.PNG" class="helpimg")
  
%p(class="text-justify")
  22. Close out the Settings application by pressing the Home button on your telephone
%p(class="text-center")
  %img(src="https://s3.amazonaws.com/refreshministries/images/iphone/Step22.PNG" class="helpimg")
  
%div
  %p(class="text-justify")
    This concludes the setup for your iPhone to send and recieve emails using your ReFresh Ministries account.
  %p(class="text-center")
    %a(class="button" href="/mail")
      Configure Apple Mail 
