%h1(class="text-center") Configuring Your iPhone

%p(class="text-justify")
  1. Touch the “Settings” application on your iPhone
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step1.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  2. Scroll down until the button labeled “Mail, Contacts, Calendars” appears and touch it.
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step2.PNG?v=1.0" class="helpimg")

%p(class="text-justify")
  3. Touch the “Add Email Account” button.
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step3.PNG?v=1.0" class="helpimg")

%p(class="text-justify")
  4. Touch the “Exchange” button.
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step4.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  5. Fill in the information related to your ReFresh Ministries account and push "next".
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step5.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  6. Now simply push "Save" to complete your account setup.
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step6.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  7. Touch the button labeled “ReFresh Ministries” for you newly added account. We are going to change a few features associated with this account.
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step7.PNG?v=1.0" class="helpimg")

%p(class="text-justify")
  8. Touch "Mail Days To Sync"
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step8.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  9. Touch "No Limit" (or whichever you would prefer)
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step9.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  10. Touch "Back"
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step10.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  11. Touch "Mail..."
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step11.PNG?v=1.0" class="helpimg")

%p(class="text-justify")
  12. Touch the "Settings" button to return to the previous screen
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step12.PNG?v=1.0" class="helpimg")
  
%p(class="text-justify")
  13. Close out the Settings application by pressing the Home button on your telephone
%p(class="text-center")
  %img(src="https://d3oddffpz7eg8u.cloudfront.net/images/refresh_help/iphone/Step13.PNG?v=1.0" class="helpimg")
  
%div
  %p(class="text-justify")
    This concludes the setup for your iPhone to send and recieve emails using your ReFresh Ministries account.
  %p(class="text-center")
    %a(class="button" href="/mail")
      Configure Apple Mail 
