<div class="fixed contain-to-grid">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1><a href="/">ReFresh Ministries Help</a></h1>
			</li>
		</ul>
	
		<section class="top-bar-section">
			<ul class="right">
				<li<%= raw active('statichome') %>><a href="/">Home</a></li>
				<li<%= raw active('staticpassword') %>><a href="/password">Password</a></li>
			  <li<%= raw active('staticiphone') %>><a href="/iphone">iPhone</a></li>
			  <li<%= raw active('staticapplemail') %>><a href="/mail">Mail</a></li>
			</ul>
		</section>
	</nav>
</div>